<ion-grid>
  <form [formGroup]="rangeForm" class="range-form">
    <ion-row>
      <ion-col class="range-label">Start:</ion-col>
      <ion-col>
        <input formControlName="startDD" class="dd-input" size="3" type="number" placeholder="DD" min="1" max="31" />
      </ion-col>
      <ion-col>
        <input formControlName="startMM" class="mm-input" size="3" type="number" placeholder="MM" min="1" max="12" />
      </ion-col>
      <ion-col col-4>
        <input formControlName="startYYYY" size="5" type="number" placeholder="YYYY" min="1970" max="2022" class="yyyy-input" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="range-label">
          End:
      </ion-col>
      <ion-col>
        <input formControlName="endDD" class="dd-input" size="3" type="number" placeholder="DD" min="1" max="31" />
      </ion-col>
      <ion-col>
        <input formControlName="endMM" class="mm-input" size="3" type="number" placeholder="MM" min="1" max="12" />
      </ion-col>
      <ion-col col-4>
        <input formControlName="endYYYY" size="5" type="number" placeholder="YYYY" min="1970" max="2022" class="yyyy-input" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-buttons item-end>
          <button ion-button outline small (click)="emitApplyFilters()" [disabled]="!rangeForm.valid">Apply</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    </form>
</ion-grid>
