page-sorting-popover {
    ion-list-header {
        margin-bottom: 0px !important;
    }

    ion-label {
        color: color($colors, vistra-grey, base) !important;
    }

    .popover-header ion-label {
        color: color($colors, vistra-red, base) !important;
        font-weight: bold;
    }
    .highlighted {
        background-color: color($colors, vistra-lighter-grey, base) !important;
    }
}