// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logo {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .footer-img {
    display: none;
    width: 35%;
  }
}
@media (max-width: 768px) {
  .footer-img {
    display: none;
    width: 100%;
  }
}
ion-footer > .toolbar-background {
  /* background: #57585d */
  background: transparent;
}
ion-footer .toolbar-title {
  text-align: center;
}

// For IE support, see https://stackoverflow.com/questions/23954877/internet-explorer-11-and-supported-web-fonts
@font-face {
  font-family: 'FSElliotPro-Bold';
  src: url('../assets/fonts/FSElliotPro-Bold.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-BoldItalic';
  src: url('../assets/fonts/FSElliotPro-Bold.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-BoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-Heavy';
  src: url('../assets/fonts/FSElliotPro-Bold.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Heavy.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-HeavyItalic';
  src: url('../assets/fonts/FSElliotPro-Bold.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-HeavyItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-Italic';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Italic.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-Light';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-LightItalic';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-LightItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-Regular';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Regular.ttf')  format('truetype');
 //src: url('../assets/fonts/FSElliotPro-Regular.eot?#iefix') format('embedded-opentype')
}
@font-face {
  font-family: 'FSElliotPro-Thin';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-Thin.ttf')  format('truetype');
}
@font-face {
  font-family: 'FSElliotPro-ThinItalic';
  src: url('../assets/fonts/FSElliotPro-Regular.woff2')  format('woff');
  src: url('../assets/fonts/FSElliotPro-ThinItalic.ttf')  format('truetype');
}
ion-app{
  font-family:FSElliotPro-Regular !important;
  // font-size:1.1em;
}
.toast-wrapper {
  background-color: color($colors, vistra-light-grey, base) !important;
}
.document-preview  .alert-message {
    text-align: center !important;
}
.document-preview  h2 {
    text-align: center !important;
}
.document-preview  .alert-wrapper {
    min-width: 450px;
}
.document-preview  .default-button {
    background-color: color($colors, vistra-red, base);
    border-radius: 4px;
    color: color($colors, vistra-white, base);
}
.clickable {
  cursor: pointer;
}
.hover-effect:hover {
  background-color: #ededed;
}
.default-toast .toast-wrapper {
  background-color: color($colors, vistra-lighter-grey, base) !important;
  color: color($colors, vistra-red, base) !important;
  border-radius: 10px;
  width: max-content;
  // height: 6%;
}
.error-toast .toast-wrapper {
  background-color: color($colors, vistra-lighter-grey, base) !important;
  color: color($colors, vistra-red, base) !important;
  border-radius: 10px;
  width: max-content;
  // height: 6%;
}
.default-toast .toast-message {
  color: color($colors, vistra-grey, base) !important;
  font-weight: bold;
  /* padding-top: 10px;
  padding-bottom: 7px; */
}
.error-toast .toast-message {
  color: color($colors, vistra-grey, base) !important;
  font-weight: bold;
}
.default-toast .toast-message::after {
  content: " ✔";
}
.error-toast .toast-message::after {
  content: " ❌";
}
.title-case {
  text-transform: capitalize;
}
.item-block {
  text-align: left;
}
.toolbar {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    //display: inline-flex !important;
    display: -ms-inline-flexbox !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; */
}
}