name: Reusable Project Build

on:
  workflow_call:
    inputs:
      project-path:
        required: true
        type: string
        description: './ChatBotCode/'

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: ${{ inputs.project-path }}/package-lock.json
    - run: npm ci
      working-directory: ${{ inputs.project-path }}
    - run: npm run build --if-present
